* {
  margin: 0px;
  padding: 0px; }

#logo_nav {
  height: 70px;
  width: 70px; }

h1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 15px; }

h2 {
  text-align: center; }

#div_imagenes_partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #89accf; }

.imagenes_partners {
  width: 15%;
  height: 80%; }

footer {
  margin-top: 40px; }

.titulo, .titulo--store, #contenedor_grande_aboutus #tarjeta_texto_aboutus .titulo--about_us {
  margin-top: 80px;
  margin-left: 20px; }

.subtext_store {
  margin-left: 20px; }

.fondo_products {
  background-color: #89accf;
  display: flex;
  align-items: center; }

.titulo--store {
  text-align: left; }

#contenedor_grande_aboutus {
  background-color: #89accf;
  height: 400px;
  display: flex;
  margin-top: 70px;
  justify-content: space-around; }
  #contenedor_grande_aboutus #tarjeta_texto_aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #contenedor_grande_aboutus #tarjeta_texto_aboutus .titulo--about_us {
      text-align: center; }
    #contenedor_grande_aboutus #tarjeta_texto_aboutus #descripcion_monke {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      font-weight: 50;
      text-align: center;
      padding: 0px 20px 0px 20px; }
  #contenedor_grande_aboutus #imagen_aboutus {
    width: 80%;
    height: 100%; }

@media screen and (max-width: 600px) {
  #div_imagenes_partners {
    flex-wrap: wrap;
    height: 180px; }
  .imagenes_partners {
    width: 30%;
    height: 40%; }
  #footer_text {
    font-size: smaller; }
  #contenedor_grande_aboutus {
    margin-top: 70px; }
    #contenedor_grande_aboutus #tarjeta_texto_aboutus {
      align-items: center; }
      #contenedor_grande_aboutus #tarjeta_texto_aboutus .titulo--about_us {
        font-size: 30px;
        margin-top: 0px; }
      #contenedor_grande_aboutus #tarjeta_texto_aboutus #descripcion_monke {
        font-size: 12px; }
    #contenedor_grande_aboutus #imagen_aboutus {
      width: 60%;
      height: 100%; } }
