@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0px;
  padding: 0px; }

#logo_nav {
  height: 70px;
  width: 70px; }

h1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 15px; }

h2 {
  text-align: center; }

#div_imagenes_partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #89accf; }

.imagenes_partners {
  width: 15%;
  height: 80%; }

footer {
  margin-top: 40px; }

.titulo, .titulo--store, #contenedor_grande_aboutus #tarjeta_texto_aboutus .titulo--about_us, #div_mapa_info #div_info_cu .titulo-contactus {
  margin-top: 80px;
  margin-left: 20px; }

.subtext_store {
  margin-left: 20px; }

.fondo_products {
  background-color: #89accf;
  display: flex;
  align-items: center; }

.titulo--store {
  text-align: left; }

#contenedor_grande_aboutus {
  background-color: #89accf;
  height: 400px;
  display: flex;
  margin-top: 70px;
  justify-content: space-around; }
  #contenedor_grande_aboutus #tarjeta_texto_aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #contenedor_grande_aboutus #tarjeta_texto_aboutus .titulo--about_us {
      text-align: center; }
    #contenedor_grande_aboutus #tarjeta_texto_aboutus #descripcion_monke {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      font-weight: 50;
      text-align: center;
      padding: 0px 20px 0px 20px; }
  #contenedor_grande_aboutus #imagen_aboutus {
    width: 80%;
    height: 100%; }

#div_mapa_info {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 500px; }
  #div_mapa_info #div_info_cu {
    display: flex;
    flex-direction: column;
    background-color: #89accf;
    width: 40%;
    justify-content: space-around; }
    #div_mapa_info #div_info_cu .titulo-contactus {
      text-align: left; }
    #div_mapa_info #div_info_cu #lista_datos {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      #div_mapa_info #div_info_cu #lista_datos .datos_contactus {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px; }
  #div_mapa_info #div_mapa {
    width: 60%; }
    #div_mapa_info #div_mapa #mapa {
      width: 100%;
      height: 500px; }

#iconos {
  display: flex;
  justify-content: space-around; }
  #iconos .bi-whatsapp {
    font-size: 50px;
    color: #0bb50b; }
  #iconos .bi-messenger {
    font-size: 50px;
    color: #10a4d5; }
  #iconos .bi-youtube {
    font-size: 50px;
    color: #fa0000; }

#grilla_news {
  height: 700px;
  width: 100%;
  margin-top: 85px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  column-gap: 10%;
  row-gap: 10%; }
  #grilla_news .tarjeta_news {
    background-color: #89accf;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #grilla_news .tarjeta_news .img_news {
      height: 75%;
      width: 90%; }

@media screen and (max-width: 600px) {
  #div_imagenes_partners {
    flex-wrap: wrap;
    height: 180px; }
  .imagenes_partners {
    width: 30%;
    height: 40%; }
  #footer_text {
    font-size: smaller; }
  #contenedor_grande_aboutus {
    margin-top: 70px; }
    #contenedor_grande_aboutus #tarjeta_texto_aboutus {
      align-items: center; }
      #contenedor_grande_aboutus #tarjeta_texto_aboutus .titulo--about_us {
        font-size: 30px;
        margin-top: 0px; }
      #contenedor_grande_aboutus #tarjeta_texto_aboutus #descripcion_monke {
        font-size: 12px; }
    #contenedor_grande_aboutus #imagen_aboutus {
      width: 60%;
      height: 100%; }
  #div_mapa_info {
    height: 300px; }
    #div_mapa_info #div_info_cu #lista_datos .datos_contactus {
      font-size: 10px; }
    #div_mapa_info #div_mapa #mapa {
      height: 300px; }
  #iconos .bi-whatsapp {
    font-size: 30px; }
  #iconos .bi-messenger {
    font-size: 30px; }
  #iconos .bi-youtube {
    font-size: 30px; }
  #grilla_news {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr; } }
